$red: #cc0000;
.padlock {
  background: $red;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  color: #fff;
  line-height: 1;
 &:before {
   font-family: 'dashicons';
   content: "\f160";
   font-size: 24px;
 }
  &.unlock:before {
    content: "\f528";
  }
}

.sync-lock button {
  pointer-events: none;
}
