.padlock {
  background: #cc0000;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  color: #fff;
}
.padlock:before {
  font-family: "dashicons";
  content: "\f160";
  font-size: 24px;
}
.padlock.unlock:before {
  content: "\f528";
}

.sync-lock button {
  pointer-events: none;
}
